@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

@media print {
  [data-noprint] { display: none !important; }

  @page {
    margin: 1cm;
  }

  body {
    background: white !important;
    color: black !important;
  }
}
